doctype html 
html 
 head 
    title  Books 
 body 
   form(action="/books" method="POST")
      input(name="name" placeholder="Nombre del libro") 
      input(name="pages" placeholder="Num de Paginas") 
      button(type="sumbit" value="Guardar") Guarda