doctype html 
html 
 head 
    title  Tareas 
 body 
   form(action=`/tasks/${task.id}?_method=PUT` method="POST")
    <input type="hidden" name="_method" value="PUT">
      textarea(name="description" cols="30" rows="10" placeholder="Coloca el texto aqui")=task.description
      button(type="sumbit" value="Guardar") Guardar 