doctype html 
html 
 head 
    title  Tareas 
 body  
      h1= task.description
      p= task.createdAt
      p 
         strong Autor:
         span=task.user.name 
      form(action=`/tasks/${task.id}?_method=DELETE` method="POST")
         button(type="sumbit" value="Eliminar") Eliminar 