doctype html 
html 
 head 
    title  Usuarios 
 body 
   form(action="/sessions" method="POST")
      input(type="email" name="name" placeholder="Email")
      input(type="password" name="password" placeholder="Contraseña") 
      button(type="sumbit" value="Iniciar Sesion") Iniciar Sesion